@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f3f3ef;
    width: 100%;
    height: 100v;
    position:fixed ;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 2px ;
}
header img{
    border-radius: 20%;
}
.logo{
    text-decoration: none;
    color: #0847f5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 10px;
}
.navigation {
    margin-left: 500px;
    display: flex;

}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc;
}

section {
    padding: 100px 50px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #092988;
    /* background: url(FB_IMG_1615002924403.jpg) no-repeat; */
    background-size: cover;
    background-position: top right;
    background-attachment: local;
}

.main h2 {
    color: rgb(6, 229, 245);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 10px;
    

}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #ff00d4;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 12px;

}
@media (max-width:300px){
    .info h2{
        right: 10px;
        top: 10px;
        border: 2px #0c6add solid;
            }
    }


.main img {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    position:absolute;
    right: 120px;
    top: 140px;
    border: 2px #0c6add solid;
    border-radius: 500px;
}
@media (max-width:300px){
    .info h3 img{
        position:absolute;
        right: 10px;
        top: 10px;
        border: 2px #0c6add solid;
        border-radius: 500px;
            }
    }

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.content .info {
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
    text-decoration: none;

}
 a{
    text-decoration: none;

}


.info h3 img{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}



.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
    
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.footer-title {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer-title span {
    color: #3a6cf4;
}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    margin-left: 8px;
}

/* @media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}
.social-icons, .footer-title {
    margin-left: 50px;

    margin-right: 50px;
}
.social-icons a i{
    font-size: 25px;
    color: #1cfc4c;
}
@media (max-width:300px){
    .footer .social-icons a i {
        display:flex;
        flex-direction: row-reverse;
        font-size: 5px;
    }
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}
 */
 @media only screen and (min-width:600px) and (max-width:805px) {
    header {
        font-size: 10px;
        width: 100%;
        height: 40px;
        margin-right: 20px;
    }
    header .logo  , header .navigation{
        font-size: 12px;
        margin-left: 1px;
    }
    header div img{
        border: 1px solid #ddd;
        border-radius: 20px;
        width: 30px;
        height: 30px;

    }
    .main div h2 , .main div h2 span{
        border-radius: 40px;
        padding: 5px;
        width: 100px;
        font-size: 33px;

        }

    .main div h3 img{
        border: 1px solid #ddd;
        border-radius: 40px;
        padding: 5px;
        width: 250px;
        height: 300px;
        position: absolute;
        right: 10px;

        }
    .social-icons a i{
        font-size: 20px;
        color: #1cfc4c;
    
    }
    footer{
        font-size: xx-small;
    }
    
    .info a{
        font-size: 10px;
    }
    }
    
    @media only screen and (min-width:300px) and (max-width:599px) {
     
        header .logo  , header .navigation{
            font-size: 10px;
            margin-left: 1px;
        }
        header div img{
            border: 1px solid #ddd;
            border-radius: 20px;
            width: 30px;
            height: 30px;
    
        }
        .main div h2 , .main div h2 span , .main-btn {
            border-radius: 40px;
            padding: 5px;
            width: 100px;
            font-size: 20px;
    
            }
            .main-btn{            
                font-size: 10px;
            }
        .main div h3 img{
            border: 1px solid #ddd;
            border-radius: 40px;
            padding: 5px;
            width: 120px;
            height: 120px;
            position: absolute;
            right: 10px;
            top: 80px;
            
    
            }
        .social-icons a i{
            font-size: 20px;
            color: #1cfc4c;
        
        }
        footer{
            font-size: xx-small;
        }
        
        .info a{
            font-size: 10px;
        }
footer p{ 
            font-size: 2px;
        }
footer span{ 
            font-size: 2px;
        }
        footer .social-icons i{
            font-size: 5px;
        }
        .project-info span{
            font-size: 5px;
        }
        .project-info a{
            font-size: 5px;

        }
        }
        
